body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 10px;
	margin-top: 50px;
}

h1 {
	text-align: center;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], select {
	padding: 8px;
	border-radius: 5px;
	border: none;
	width: 100%;
	margin-bottom: 20px;
}

.btn {
	background-color: #cb3939;
	color: #fff;
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.output {
	background-color: #f5f5f5;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
	.container {
		padding: 10px;
	}

	h1 {
		font-size: 24px;
	}

	.input-group label {
		font-size: 16px;
	}

	.input-group select,
	.input-group input[type="number"] {
		font-size: 14px;
	}

	.calculate-btn {
		font-size: 16px;
		padding: 8px 16px;
	}

	.result {
		font-size: 16px;
	}
}