img {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: block;
}

.test{
    max-height: 100%;
    min-height: 10%;
    height: 30vh;
}

.swiper-wrapper{
    position: relative;
    height: 100%;
}

.swiper {
    top: 100%;
    width: 20%;
    height: 80%;
    padding: 20px;
    border: 2px solid #000000;
}

.swiper-slide{
    width: auto;
    text-align: center;
}

.swiper-button-prev:after, .swiper-button-next:after{
    color: rgb(0, 25, 253);
    font-size: 50px;
}